{% extends 'base.html.twig' %}

    {% block body %}
        <div class="container">
            <h1 class="text-center">Museums list</h1>

            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="row">Id</th>
                    <th scope="row">Name</th>
                    <th scope="row">City</th>
                    <th scope="row">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for museum in museums %}
                    <tr>
                        <td><a href="{{ path('museum_show', { 'id': museum.id }) }}">{{ museum.id }}</a></td>
                        <td>{{ museum.name }}</td>
                        <td>{{ museum.city }}</td>
                        <td>
                            <a href="{{ path('museum_show', { 'id': museum.id }) }}" class="btn btn-info">show</a>
                            <a href="{{ path('museum_edit', { 'id': museum.id }) }}" class="btn btn-info">edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                <a href="{{ path('museum_new') }}" class="btn btn-info">Create a new museum</a>
            </div>
        </div>
    {% endblock %}
