{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h1>Museum</h1>

    <table class="table table-bordered">
        <thead class="thead-dark">
        <th scope="row">Id</th>
        <th scope="row">Name</th>
        <th scope="row">City</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ museum.id }}</td>
                <td>{{ museum.name }}</td>
                <td>{{ museum.city }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('museum_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('museum_edit', { 'id': museum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn-dark"  type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
