{% extends 'base.html.twig' %}

    {% block body %}
        <div class="container">
            <h1 class="text-center">Museum</h1>

            <table class="table table-bordered">
                <thead class="thead-dark">
                <th scope="row">Id</th>
                <th scope="row">Name</th>
                <th scope="row">City</th>
                </thead>
                <tbody>
                <tr>
                    <td>{{ museum.id }}</td>
                    <td>{{ museum.name }}</td>
                    <td>{{ museum.city }}</td>
                </tr>
                </tbody>
            </table>
            <div class="text-center">

                <div class="btn btn-info">
                    <a href="{{ path('museum_index') }}">Back to the list</a>
                </div>
                <div class="btn btn-info">
                    <a href="{{ path('museum_edit', { 'id': museum.id }) }}">Edit</a>
                </div>
                {{ form_start(delete_form) }}
                <input class="btn btn-info mt-2" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>
        </div>
    {% endblock %}
