{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="text-center">Users list</h1>

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="row">Id</th>
            <th scope="row">Firstname</th>
            <th scope="row">Lastname</th>
            <th scope="row">Email</th>
            <th scope="row">Phone</th>
            <th scope="row">Role</th>
            <th scope="row">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-info">show</a>
                    <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-info">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
