{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Artworks list</h1>

        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="row">Id</th>
                <th scope="row">Name</th>
                <th scope="row">Date</th>
                <th scope="row">Size</th>
                <th scope="row">Technique</th>
                <th scope="row">Description</th>
                <th scope="row">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for artwork in artworks %}
                <tr>
                    <td><a href="{{ path('artwork_show', { 'id': artwork.id }) }}">{{ artwork.id }}</a></td>
                    <td>{{ artwork.name }}</td>
                    <td>{% if artwork.date %}{{ artwork.date|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ artwork.size }}</td>
                    <td>{{ artwork.technique }}</td>
                    <td>{{ artwork.description }}</td>
                    <td>

                        <a href="{{ path('artwork_show', { 'id': artwork.id }) }}" class="btn btn-info">show</a>

                        <a href="{{ path('artwork_edit', { 'id': artwork.id }) }}" class="btn btn-info">edit</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <a href="{{ path('artwork_new') }}" class="btn btn-info">Create a new artwork</a>
        </div>
    </div>
{% endblock %}
