{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="text-center">Artworkuseremotions list</h1>

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for artworkUserEmotion in artworkUserEmotions %}
            <tr>
                <td>
                    <a href="{{ path('artworkuseremotion_show', { 'id': artworkUserEmotion.id }) }}">{{ artworkUserEmotion.id }}</a>
                </td>
                <td>

                    <a href="{{ path('artworkuseremotion_show', { 'id': artworkUserEmotion.id }) }}">show</a>

                    <a href="{{ path('artworkuseremotion_edit', { 'id': artworkUserEmotion.id }) }}">edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a href="{{ path('artworkuseremotion_new') }}" class="btn btn-info">Create a new artworkUserEmotion</a>
</div>
    {% endblock %}
