{% include 'base.html.twig' %}

{% block body %}
    <body class="artwork">
    <div class="container">
        <div class="row">
            {% for artwork in artworks %}
                <div class="col-md-3 col-sm-6 pl-4 pb-5 mx-auto">
                    <figure class="card card-body mx-auto">
                        <img class="card-img-top" src="http://via.placeholder.com/150x200" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">{{ artwork.name }}</h4>
                            <p class="card-text">{{ artwork.description }}</p>
                        </div>
                        <div class="card-footer">
                            <p>{% if artwork.date %}{{ artwork.date|date('d-m-Y') }}{% endif %}</p>
                            <p>{{ artwork.size }}</p>
                            <p>{{ artwork.technique }}</p>
                        </div>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
    </body>
{% endblock %}

